---
layout: page
---

<div id="content">
	<div class="row">
		<div class="span9">{{content}}</div>
		<div class="span3">
			<p>Questions?. Call us at <a href="tel:786-361-6214">786-361-6214</a> or <a href="mailto:ganapatiweb@gmail.com">Email us</a>. Or submit your email below and we'll contact you.</p>
			<form>
				<div class="control-group">
					<label class="control-label" for="inputIcon">Email address</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-envelope"></i></span><input class="span2" id="inputIcon" type="text">
						</div>
					</div>
				</div>
			</form>
			<p><a href="https://twitter.com/GanapatiWebDev" class="twitter-follow-button" data-show-count="false">Follow @GanapatiWebDev</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</p>
		</div>
	</div>
</div>